node_modules
docker/data
docker/pgadmin
docker/redis
src/logs
src/tmp

# Joomla 
src/www/administrator
src/www/api
src/www/cache
src/www/cli
src/www/tmp
src/www/templates/cassiopeia
src/www/templates/system
src/www/templates/index.html
src/www/plugins
src/www/modules
src/www/media/plg_system_webauthn
src/www/media/cache
src/www/media/com_actionlogs
src/www/media/com_admin
src/www/media/com_associations
src/www/media/com_banners
src/www/libraries
src/www/layouts
src/www/installation
src/www/includes
src/www/components
src/www/language/en-GB
src/www/language/overrides
src/www/language/index.html
src/www/media/com_cache
src/www/media/com_categories
src/www/media/com_config
src/www/media/com_contact
src/www/media/com_content
src/www/media/com_contenthistory
src/www/media/com_cpanel
src/www/media/com_fields
src/www/media/com_finder
src/www/media/com_guidedtours
src/www/media/com_installer
src/www/media/com_joomlaupdate
src/www/media/com_languages
src/www/media/com_mails
src/www/media/com_media
src/www/media/com_menus
src/www/media/com_modules
src/www/media/com_scheduler
src/www/media/com_tags
src/www/media/com_templates
src/www/media/com_users
src/www/media/com_workflow
src/www/media/com_wrapper
src/www/media/layouts
src/www/media/legacy
src/www/media/mailto
src/www/media/mod_articles
src/www/media/mod_articles_news
src/www/media/mod_languages
src/www/media/mod_login
src/www/media/mod_menu
src/www/media/mod_quickicon
src/www/media/mod_sampledata
src/www/media/plg_behaviour_compat
src/www/media/plg_captcha_recaptcha
src/www/media/plg_captcha_recaptcha_invisible
src/www/media/plg_content_vote
src/www/media/plg_editors_codemirror
src/www/media/plg_editors_none
src/www/media/plg_editors_tinymce
src/www/media/plg_editors-xtd_image
src/www/media/plg_installer_folderinstaller
src/www/media/plg_installer_packageinstaller
src/www/media/plg_installer_urlinstaller
src/www/media/plg_installer_webinstaller
src/www/media/plg_media-action_crop
src/www/media/plg_media-action_resize
src/www/media/plg_media-action_rotate
src/www/media/plg_multifactorauth_email
src/www/media/plg_multifactorauth_fixed
src/www/media/plg_multifactorauth_totp
src/www/media/plg_multifactorauth_webauthn
src/www/media/plg_multifactorauth_yubikey
src/www/media/plg_quickicon_eos
src/www/media/plg_quickicon_extensionupdate
src/www/media/plg_quickicon_joomlaupdate
src/www/media/plg_quickicon_overridecheck
src/www/media/plg_quickicon_privacycheck
src/www/media/plg_system_debug
src/www/media/plg_system_guidedtours
src/www/media/plg_system_jooa11y
src/www/media/plg_system_schedulerunner
src/www/media/plg_system_shortcut
src/www/media/plg_system_stats
src/www/media/plg_user_token
src/www/media/system
src/www/media/vendor
src/www/media/index.html
src/www/media/templates/site/cassiopeia
src/www/media/templates/administrator
src/www/images
src/www/web.config.txt
src/www/robots.txt.dist
src/www/README.txt
src/www/LICENSE.txt
src/www/index.php
src/www/htaccess.txt
src/www/configuration.php
src/www/language/pt-BR/*
src/www/robots.txt

# Ignore language 
# Para incluir os arquivos de idioma
!src/www/language/pt-BR/tpl_skeleton.ini
!src/www/language/pt-BR/tpl_skeleton.sys.ini